<div id="search-information" class="input-group">
  <input type="text" name="search_information" value="{{ search }}" placeholder="{{ text_search }}" class="form-control" />
  <span class="input-group-btn">
    <button type="button" class="btn btn-default"><i class="fa fa-search"></i></button>
  </span>
</div>